{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}

  <nav>  
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '기본', true) }}
    {{ macros.m_tab_head_end() }}
  </nav>

  <form id='setting' name='setting'>
    <div class="tab-content" id="nav-tabContent">
      {{ macros.m_tab_content_start('normal', true) }}
        {{ macros.setting_input_text('jav_fc2_order', '우선순위', value=arg['jav_fc2_order'], desc=['메타데이터를 가져올 우선순위 설정', 'default: fc2ppvdb'])}}
        {{ macros.setting_input_text('jav_fc2_title_format', '타이틀 포맷', value=arg['jav_fc2_title_format'], desc=['title premiered year tagline']) }}
        {{ macros.m_hr() }}
        <div class="form-text text-muted" style="margin-left: 40px;">
          <strong>참고:</strong>
          <ul>
            <li>이미지 URL 처리 방법 (이미지 서버 사용 포함)은 <strong>'JavCensored'</strong>의 <strong>'기본'</strong> 탭 설정을 따릅니다.</li>
            <li>배우 정보 처리 (로컬 DB 사용, 배우 이미지 URL Prefix 등)는 <strong>'JavCensored'</strong>의 <strong>'배우DB'</strong> 탭 설정을 따릅니다.</li>
            <li>각 FC2 사이트별 상세 설정(프록시 등)은 해당 사이트의 설정 메뉴에서 개별적으로 지정할 수 있습니다.</li>
          </ul>
        </div>
      {{ macros.m_tab_content_end() }}
    </div>
  </form>
</div>

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";

$(document).ready(function(){
});

</script>    
{% endblock %}