{% extends "base.html" %}
{% block content %}
{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}
{{ macros.m_hr() }}
<form id="setting">
{{ macros.setting_checkbox('ktv_use_tmdb', 'TMDB 이미지 사용', value=arg['ktv_use_tmdb'], desc=['On : TMDB 매칭시 TMDB 배우 이미지 사용']) }}
{{ macros.setting_checkbox('ktv_use_kakaotv', '작품별 부가영상 사용', value=arg['ktv_use_kakaotv'], desc=['On : 최근 영상 20개를 부가영상 항목에 포함']) }}
{{ macros.setting_checkbox('ktv_use_kakaotv_episode', '에피소드별 부가영상 사용', value=arg['ktv_use_kakaotv_episode'], desc=['On : 에피소드별 부가영상 포함. 현재는 안드로이드 앱에서만 재생 지원']) }}
<!--{{ macros.setting_checkbox('ktv_use_theme', '테마 음악 적용', value=arg['ktv_use_theme'], desc=['On : 테마 음악이 있는 경우 적용. 적용시 메타용량 증가']) }}-->
{{ macros.setting_checkbox('ktv_summary_duplicate_remove', 'Daum 에피소드 줄거리 모드', value=arg['ktv_summary_duplicate_remove'], desc=['On : 날짜, 제목 중복 제거', 'Off : 날짜, 제목 중복 표시']) }}
{{ macros.setting_input_textarea('ktv_change_actor_name_rule', '배우이름 변경', desc=['', 
  '동명의 배우 구분을 위한 이름 변경 규칙', 
  '규칙 구분자 엔터', 
  '규칙 포맷 : 작품|배우이름|변경 배우이름', 
  '예) 아는 형님|김영철|김영철(개그맨)'
  ], 
  value=arg['ktv_change_actor_name_rule'], row='10') }}
</form>

<script type="text/javascript">

$(document).ready(function(){
});

</script>    
{% endblock %}