{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}

  <nav>  
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '설정', true) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_checkbox('jav_censored_javbus_use_proxy', 'Proxy 사용', value=arg['jav_censored_javbus_use_proxy'], desc=['On : sjva를 설치한 곳에서 javbus 사이트 접속이 안 될 경우 사용']) }}
      <div id="jav_censored_javbus_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_censored_javbus_proxy_url', 'Proxy URL', value=arg['jav_censored_javbus_proxy_url']) }}
      </div>
      {{ macros.setting_radio('jav_censored_javbus_image_mode', '이미지 URL 처리 방법', ['원본 URL', 'SJVA Proxy URL', '디스코드 Proxy URL', '디스코드 URL'], value=arg['jav_censored_javbus_image_mode'], desc=['원본 : 원본 URL 리턴. (클라이언트가 외국인 경우)', 'SJVA Proxy URL : SJVA가 이미지를 받고 그 이미지를 리턴 (한국)', '디스코드 Proxy URL : 이미지를 디스코드에 업로드 후 디스코드 URL Redirect', '디스코드 URL : Proxy 작업을 미리한 고정 디스코드 URL']) }}
      {{ macros.setting_input_text_and_buttons('jav_censored_javbus_code', '테스트', [['jav_censored_javbus_test_btn', '테스트']], value=arg['jav_censored_javbus_code'], desc=None) }}
    {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
</form>
</div><!--전체-->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;

$(document).ready(function(){
  use_collapse("jav_censored_javbus_use_proxy");
});

$('#jav_censored_javbus_use_proxy').change(function() {use_collapse('jav_censored_javbus_use_proxy');});

$("body").on('click', '#jav_censored_javbus_test_btn', function(e){
  e.preventDefault();
  func_test('javbus');
});

function func_test(call) {
  code = document.getElementById("jav_censored_javbus_code").value
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/test',
    type: "POST", 
    cache: false,
    data: {code:code, call:call},
    dataType: "json",
    success: function (ret) {
      m_modal(ret)
    }
  });
}

</script>    
{% endblock %}