{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('normal', '기본', true) }}
    {{ macros.m_tab_head('avdbs', 'Avdbs', false) }}
    {{ macros.m_tab_head('hentaku', 'Hentaku', false) }}
  {{ macros.m_tab_head_end() }}
</nav>

<form id='setting' name='setting'>
<div class="tab-content mb-4" id="nav-tabContent">
  {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.setting_input_text('jav_censored_order', '메타 우선순위', value=arg['jav_censored_order'], desc=['메타데이터를 가져올 우선순위 설정: mgstage, dmm, jav321, javdb, javbus']) }}
    {{ macros.setting_input_text(
        'jav_censored_result_priority_order', 
        '최종 결과 정렬 우선순위', 
        value=arg['jav_censored_result_priority_order'], 
        desc=[
            '검색 결과 목록의 최종 정렬 순서를 지정합니다. 쉼표(,)로 구분하여 순서대로 입력합니다.', 
            '목록의 앞쪽에 있을수록 우선순위가 높습니다. (최상위 동점 결과시)',
            '사용 가능 키:', 
            ' - 사이트: mgstage, jav321, javdb, javbus', 
            ' - DMM 타입별: dmm_videoa, dmm_dvd, dmm_bluray, dmm_unknown', 
            ' (예: dmm_videoa, dmm_dvd, mgstage, dmm_unknown, jav321, javdb, javbus)',
            '목록에 없는 항목은 가장 낮은 우선순위를 갖습니다.'
        ]) 
    }}
    {{ macros.setting_input_text('jav_censored_actor_order', '배우 우선순위', value=arg['jav_censored_actor_order'], desc=['배우정보를 가져울 순위 설정', 'avdbs, hentaku']) }}
    {{ macros.m_hr() }}
    {{ macros.setting_radio_with_value('jav_censored_image_mode', '이미지 URL 처리 방법', [['original','원본'], ['ff_proxy', 'FF Proxy'], ['discord_redirect', '디스코드 Redirect'], ['discord_proxy', '디스코드 Proxy'], ['image_server', '이미지 서버']], value=arg['jav_censored_image_mode'], desc=['원본: 원본 URL (클라이언트가 해당 URL에 접속 가능해야 함)', 'SJVA Proxy: SJVA가 이미지를 받아서 중계하는 URL (lazy)', '디스코드 Redirect: 이미지를 디스코드에 업로드 후 Redirect하는 URL (lazy)', '디스코드 Proxy: 이미지를 디스코드에 업로드 후 그 URL을 반환', '이미지 서버: 지정된 이미지 서버 URL 사용 및 로컬 저장']) }}
    {{ macros.setting_checkbox('jav_censored_use_discord_proxy_server', '디스코드 Proxy 서버(FF) 사용', value=arg['jav_censored_use_discord_proxy_server'], desc=['Discord 이미지 URL의 도메인을 지정된 FF 서버 주소로 변경합니다. (디스코드 Proxy 모드일 때 적용)']) }}
    <div id="jav_censored_use_discord_proxy_server_div" class="collapse">
      {{ macros.setting_input_text('jav_censored_discord_proxy_server_url', '디스코드 Proxy 서버(FF) 주소', value=arg['jav_censored_discord_proxy_server_url'], placeholder='예: https://ff.my-domain.com (끝에 / 없이 입력)') }}
    </div>
    {{ macros.setting_checkbox('jav_censored_use_image_server', '이미지 서버 사용', value=arg['jav_censored_use_image_server'], desc=['이미지 서버 URL을 직접 지정하고, 관련 이미지를 로컬 경로에 저장합니다. (lib_metadata 지원 필요)']) }}
    <div id="jav_censored_use_image_server_div" class="collapse">
    {{ macros.setting_input_text('jav_censored_image_server_url', '이미지 서버 URL', value=arg['jav_censored_image_server_url'], placeholder='예: https://image.example.com') }}
    {{ macros.setting_input_text('jav_censored_image_server_local_path', '로컬 저장 경로', value=arg['jav_censored_image_server_local_path'], placeholder='예: /data/sjva/metadata/image_cache') }}
    </div>
    {{ macros.m_hr() }}
    {{ macros.setting_button_with_info([['jav_censored_rcache_clear_btn', '초기화']], left='requests cache 초기화', desc='')}}
  {{ macros.m_tab_content_end() }}

  {{ macros.m_tab_content_start('avdbs', false) }}
    {{ macros.setting_input_text_and_buttons('jav_censored_avdbs_test_name', '테스트', [['jav_censored_avdbs_test_btn', '테스트']], value=arg['jav_censored_avdbs_test_name'], desc=None) }}
    {{ macros.setting_checkbox('jav_censored_avdbs_use_proxy', 'Proxy 사용', value=arg['jav_censored_avdbs_use_proxy'], desc=['sjva가 해당 사이트에 접속할 수 없을 때 사용']) }}
    <div id="jav_censored_avdbs_use_proxy_div" class="collapse">
    {{ macros.setting_input_text('jav_censored_avdbs_proxy_url', 'Proxy URL', value=arg['jav_censored_avdbs_proxy_url']) }}
    </div>
    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('jav_censored_avdbs_use_local_db', '로컬 DB 사용', value=arg['jav_censored_avdbs_use_local_db'], desc=['Avdbs 데이터를 로컬 SQLite DB에서 먼저 조회합니다. (이미지 서버/배우 이미지 사전 설정 필요)'] )}}
    <div id="jav_censored_avdbs_use_local_db_div" class="collapse">
    {{ macros.setting_input_text('jav_censored_avdbs_local_db_path', '로컬 DB 경로', value=arg['jav_censored_avdbs_local_db_path']) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_text('jav_actor_img_url_prefix', '배우 이미지 서버 URL Prefix', value=arg['jav_actor_img_url_prefix'], desc=['로컬 DB의 배우 이미지 경로와 조합될 URL 접두사입니다.', '예: https://my.images.com/actor_images (뒤에 / 없음)', '이 값을 설정하면 DB의 상대 경로와 합쳐 최종 이미지 URL을 만듭니다.'], placeholder='예: https://my.server.com/actor_images') }}
    </div>

  {{ macros.m_tab_content_end() }}

  {{ macros.m_tab_content_start('hentaku', false) }}
    {{ macros.setting_input_text_and_buttons('jav_censored_hentaku_test_name', '테스트', [['jav_censored_hentaku_test_btn', '테스트']], value=arg['jav_censored_hentaku_test_name'], desc=None) }}
    {{ macros.setting_checkbox('jav_censored_hentaku_use_proxy', 'Proxy 사용', value=arg['jav_censored_hentaku_use_proxy'], desc=['sjva가 해당 사이트에 접속할 수 없을 때 사용']) }}
    <div id="jav_censored_hentaku_use_proxy_div" class="collapse">
    {{ macros.setting_input_text('jav_censored_hentaku_proxy_url', 'Proxy URL', value=arg['jav_censored_hentaku_proxy_url']) }}
    </div>
  {{ macros.m_tab_content_end() }}

</form>


<script type="text/javascript">
$(document).ready(function(){
  use_collapse("jav_censored_avdbs_use_proxy");
  use_collapse("jav_censored_hentaku_use_proxy");
  use_collapse("jav_censored_use_image_server");
  use_collapse("jav_censored_avdbs_use_local_db");
  use_collapse("jav_censored_use_discord_proxy_server");
});

$('#jav_censored_avdbs_use_proxy').change(function() {use_collapse('jav_censored_avdbs_use_proxy');});
$('#jav_censored_hentaku_use_proxy').change(function() {use_collapse('jav_censored_hentaku_use_proxy');});
$('#jav_censored_use_image_server').change(function() {use_collapse('jav_censored_use_image_server');});
$('#jav_censored_avdbs_use_local_db').change(function() {use_collapse('jav_censored_avdbs_use_local_db');});
$('#jav_censored_use_discord_proxy_server').change(function() {use_collapse('jav_censored_use_discord_proxy_server');});


$("body").on('click', '#jav_censored_avdbs_test_btn', function(e){
  e.preventDefault();
  globalSendCommand('actor_test', 'avdbs', $('#jav_censored_avdbs_test_name').val());
});

$("body").on('click', '#jav_censored_hentaku_test_btn', function(e){
  e.preventDefault();
  globalSendCommand('actor_test', 'hentaku', $('#jav_censored_hentaku_test_name').val());
});

$("body").on('click', '#jav_censored_rcache_clear_btn', function(e){
  e.preventDefault();
  globalSendCommand('rcache_clear');
});

</script>
{% endblock %}
