{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

{{ macros.m_hr_black() }}


<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">

{{ macros.setting_input_textarea('jav_uncensored_special_parser_custom_rules', '레이블 특수처리 규칙', value=arg['jav_uncensored_special_parser_custom_rules'], row='10', desc=[
  'Uncensored 품번 파싱에 사용되는 특수 규칙입니다. 복잡한 예외 케이스를 정규식으로 직접 처리합니다.',
  '형식: 정규식 패턴 => 레이블 템플릿|숫자 템플릿',
  '예시 (HEYZO): .*?(heyzo)[-_\\s]?(\\d{4}) => {0}|{1}',
  '  - 위 규칙은 heyzo 2681, heyzo-2681 같은 품번을 레이블: HEYZO, 숫자: 2681로 파싱합니다.',
  '참고: #으로 시작하는 줄은 주석으로 처리되어 무시됩니다.', '이 외의 공통 설정은 JAV Censored 모듈의 설정을 따릅니다.'
]) }}

{{ macros.m_hr_black() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_1pondo_test_code', '1pondo 테스트 품번', [['jav_uncensored_1pondo_test_btn', '테스트']], value=arg['jav_uncensored_1pondo_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_1pondo_use_proxy', '1pondo Proxy 사용', value=arg['jav_uncensored_1pondo_use_proxy'], desc=None) }}
<div id="jav_uncensored_1pondo_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_1pondo_proxy_url', '1pondo Proxy URL', value=arg['jav_uncensored_1pondo_proxy_url']) }}
</div>

{{ macros.m_hr() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_10musume_test_code', '10musume 테스트 품번', [['jav_uncensored_10musume_test_btn', '테스트']], value=arg['jav_uncensored_10musume_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_10musume_use_proxy', '10musume Proxy 사용', value=arg['jav_uncensored_10musume_use_proxy'], desc=None) }}
<div id="jav_uncensored_10musume_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_10musume_proxy_url', '10musume Proxy URL', value=arg['jav_uncensored_10musume_proxy_url']) }}
</div>

{{ macros.m_hr() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_heyzo_test_code', 'heyzo 테스트 품번', [['jav_uncensored_heyzo_test_btn', '테스트']], value=arg['jav_uncensored_heyzo_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_heyzo_use_proxy', 'heyzo Proxy 사용', value=arg['jav_uncensored_heyzo_use_proxy'], desc=None) }}
<div id="jav_uncensored_heyzo_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_heyzo_proxy_url', 'heyzo Proxy URL', value=arg['jav_uncensored_heyzo_proxy_url']) }}
</div>

{{ macros.m_hr() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_carib_test_code', 'carib 테스트 품번', [['jav_uncensored_carib_test_btn', '테스트']], value=arg['jav_uncensored_carib_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_carib_use_proxy', 'carib Proxy 사용', value=arg['jav_uncensored_carib_use_proxy'], desc=None) }}
<div id="jav_uncensored_carib_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_carib_proxy_url', 'carib Proxy URL', value=arg['jav_uncensored_carib_proxy_url']) }}
</div>

{{ macros.m_hr() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_fc2_test_code', 'fc2 테스트 품번', [['jav_uncensored_fc2_test_btn', '테스트']], value=arg['jav_uncensored_fc2_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_fc2_use_proxy', 'fc2 Proxy 사용', value=arg['jav_uncensored_fc2_use_proxy'], desc=None) }}
<div id="jav_uncensored_fc2_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_fc2_proxy_url', 'fc2 Proxy URL', value=arg['jav_uncensored_fc2_proxy_url']) }}
</div>

</div><!--tab-content-->
</form>


<script type="text/javascript">
$(document).ready(function(){
  use_collapse("jav_uncensored_1pondo_use_proxy");
  use_collapse("jav_uncensored_10musume_use_proxy");
  use_collapse("jav_uncensored_heyzo_use_proxy");
  use_collapse("jav_uncensored_carib_use_proxy");
  use_collapse("jav_uncensored_fc2_use_proxy");
});

$('#jav_uncensored_1pondo_use_proxy').change(function() {use_collapse('jav_uncensored_1pondo_use_proxy');});
$('#jav_uncensored_10musume_use_proxy').change(function() {use_collapse('jav_uncensored_10musume_use_proxy');});
$('#jav_uncensored_heyzo_use_proxy').change(function() {use_collapse('jav_uncensored_heyzo_use_proxy');});
$('#jav_uncensored_carib_use_proxy').change(function() {use_collapse('jav_uncensored_carib_use_proxy');});
$('#jav_uncensored_fc2_use_proxy').change(function() {use_collapse('jav_uncensored_fc2_use_proxy');});

$("body").on('click', '#jav_uncensored_1pondo_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_1pondo_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', '1pondo', code);
});

$("body").on('click', '#jav_uncensored_10musume_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_10musume_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', '10musume', code);
});

$("body").on('click', '#jav_uncensored_heyzo_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_heyzo_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', 'heyzo', code);
});

$("body").on('click', '#jav_uncensored_carib_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_carib_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', 'carib', code);
});

$("body").on('click', '#jav_uncensored_fc2_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_fc2_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', 'fc2', code);
});

</script>    
{% endblock %}