{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

{{ macros.m_hr_black() }}


<form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">

    {{ macros.setting_input_text_and_buttons('jav_uncensored_1pondo_test_code', '1pondo 테스트 품번', [['jav_uncensored_1pondo_test_btn', '테스트'], ['jav_uncensored_1pondo_nfo_download_btn', 'NFO'], ['jav_uncensored_1pondo_yaml_download_btn', 'YAML'], ['jav_uncensored_1pondo_pl_download_btn', '포스터(원본)'], ['jav_uncensored_1pondo_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_1pondo_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_1pondo_use_proxy', '1pondo Proxy 사용', value=arg['jav_uncensored_1pondo_use_proxy'], desc=None) }}
    <div id="jav_uncensored_1pondo_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_1pondo_proxy_url', '1pondo Proxy URL', value=arg['jav_uncensored_1pondo_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}

    {{ macros.setting_input_text_and_buttons('jav_uncensored_10musume_test_code', '10musume 테스트 품번', [['jav_uncensored_10musume_test_btn', '테스트'], ['jav_uncensored_10musume_nfo_download_btn', 'NFO'], ['jav_uncensored_10musume_yaml_download_btn', 'YAML'], ['jav_uncensored_10musume_pl_download_btn', '포스터(원본)'], ['jav_uncensored_10musume_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_10musume_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_10musume_use_proxy', '10musume Proxy 사용', value=arg['jav_uncensored_10musume_use_proxy'], desc=None) }}
    <div id="jav_uncensored_10musume_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_10musume_proxy_url', '10musume Proxy URL', value=arg['jav_uncensored_10musume_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}

    {{ macros.setting_input_text_and_buttons('jav_uncensored_paco_test_code', 'Paco 테스트 품번', [['jav_uncensored_paco_test_btn', '테스트'], ['jav_uncensored_paco_nfo_download_btn', 'NFO'], ['jav_uncensored_paco_yaml_download_btn', 'YAML'], ['jav_uncensored_paco_pl_download_btn', '포스터(원본)'], ['jav_uncensored_paco_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_paco_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_paco_use_proxy', 'Paco Proxy 사용', value=arg['jav_uncensored_paco_use_proxy'], desc=None) }}
    <div id="jav_uncensored_paco_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_paco_proxy_url', 'Paco Proxy URL', value=arg['jav_uncensored_paco_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}

    {{ macros.setting_input_text_and_buttons('jav_uncensored_heyzo_test_code', 'heyzo 테스트 품번', [['jav_uncensored_heyzo_test_btn', '테스트'], ['jav_uncensored_heyzo_nfo_download_btn', 'NFO'], ['jav_uncensored_heyzo_yaml_download_btn', 'YAML'], ['jav_uncensored_heyzo_pl_download_btn', '포스터(원본)'], ['jav_uncensored_heyzo_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_heyzo_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_heyzo_use_proxy', 'heyzo Proxy 사용', value=arg['jav_uncensored_heyzo_use_proxy'], desc=None) }}
    <div id="jav_uncensored_heyzo_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_heyzo_proxy_url', 'heyzo Proxy URL', value=arg['jav_uncensored_heyzo_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}

    {{ macros.setting_input_text_and_buttons('jav_uncensored_carib_test_code', 'carib 테스트 품번', [['jav_uncensored_carib_test_btn', '테스트'], ['jav_uncensored_carib_nfo_download_btn', 'NFO'], ['jav_uncensored_carib_yaml_download_btn', 'YAML'], ['jav_uncensored_carib_pl_download_btn', '포스터(원본)'], ['jav_uncensored_carib_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_carib_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_carib_use_proxy', 'carib Proxy 사용', value=arg['jav_uncensored_carib_use_proxy'], desc=None) }}
    <div id="jav_uncensored_carib_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_carib_proxy_url', 'carib Proxy URL', value=arg['jav_uncensored_carib_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}

    {{ macros.setting_input_text_and_buttons('jav_uncensored_fc2com_test_code', 'fc2 테스트 품번', [['jav_uncensored_fc2com_test_btn', '테스트'], ['jav_uncensored_fc2com_nfo_download_btn', 'NFO'], ['jav_uncensored_fc2com_yaml_download_btn', 'YAML'], ['jav_uncensored_fc2com_pl_download_btn', '포스터(원본)'], ['jav_uncensored_fc2com_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_fc2com_test_code'], desc=None) }}
    {{ macros.info_text('Selenium 설정', 'fc2com Selenium', desc=['Selenium 설정은 Censored 플러그인의 전역 설정을 따릅니다.', '메타데이터 > JAV Censored > 설정 탭에서 Selenium URL을 설정하세요.']) }}
    {{ macros.setting_checkbox('jav_uncensored_fc2com_use_proxy', 'fc2com Proxy 사용', value=arg['jav_uncensored_fc2com_use_proxy'], desc=None) }}
    <div id="jav_uncensored_fc2com_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_fc2com_proxy_url', 'fc2com Proxy URL', value=arg['jav_uncensored_fc2com_proxy_url']) }}
    </div>

    {{ macros.setting_checkbox('jav_uncensored_fc2com_use_javten_db', 'Javten DB 사용', value=arg['jav_uncensored_fc2com_use_javten_db'], desc=['fc2.com 검색 실패시, 미리 크롤링된 javten.com(구 fc2hub) DB에서 메타 정보를 찾습니다.']) }}
    <div id="jav_uncensored_fc2com_use_javten_db_div" class="collapse">
      {{ macros.setting_input_text_and_buttons('jav_uncensored_fc2com_javten_db_gds_path', 'javten DB 원본 경로(GDS)', [['btn_refresh_gds_path', 'VFS Refresh'], ['btn_check_javten_db_version', 'DB 버전 확인'], ['btn_copy_javten_db', 'DB 복사']], value=arg['jav_uncensored_fc2com_javten_db_gds_path'], placeholder='/mnt/gds/DATA/기타/GDS DB/AV/javten.db', desc=['GDS에 있는 javten.db의 마운트 절대 경로를 입력하고 복사 버튼을 눌러 DB 파일을 로컬로 복사하세요.', 'VFS Refresh(Plex Mate) > DB 버전 확인 > DB 복사 (/data/db/javten.db 덮어씀)', 'DB는 용량이 크기 때문에 복사(다운로드)에 시간이 걸립니다. (주기적 업데이트 > 용량 증가)']) }}
      
      {{ macros.setting_checkbox('jav_uncensored_fc2com_use_image_server_url', '로컬 이미지 사용(이미지 서버)', value=arg['jav_uncensored_fc2com_use_image_server_url'], desc=['로컬에 저장된 이미지를 이미지 서버 설정을 통해 매칭에 이용합니다. (해제 시 fc2.com 이미지 url만 사용)', '이미지 서버 세팅/설정이 필요합니다.', '※ 전체 이미지 용량이 매우 크기 때문에 공유는 숙고중입니다.(현재는 테스트 버전)']) }}
      <div id="jav_uncensored_fc2com_use_image_server_url_div" class="collapse">
        {{ macros.setting_input_text('jav_uncensored_fc2com_local_image_path', '로컬 이미지 경로 루트', value=arg['jav_uncensored_fc2com_local_image_path'], desc=['로컬 이미지 절대 경로를 입력합니다. (예: /data/images/javten)']) }}
        
        {{ macros.setting_input_text('jav_uncensored_fc2com_local_image_url', '로컬 이미지 웹 URL', value=arg['jav_uncensored_fc2com_local_image_url'], placeholder='예: https://image.example.com/javten', desc=['로컬 이미지를 외부에서 접근하기 위한 웹 서버 URL Prefix입니다.', '입력하지 않으면 메인 설정의 이미지 서버 URL에 "/javten"을 붙여 사용합니다.']) }}
      </div>
    </div>

  </div><!--tab-content-->
</form>


<script type="text/javascript">
$(document).ready(function(){
  const sites = ['1pondo', '10musume', 'paco', 'heyzo', 'carib', 'fc2com'];
  sites.forEach(function(site) {
    use_collapse("jav_uncensored_" + site + "_use_proxy");

    $('#jav_uncensored_' + site + '_use_proxy').change(function() {
      use_collapse('jav_uncensored_' + site + '_use_proxy');
    });
  });

  use_collapse("jav_uncensored_fc2com_use_javten_db");
  use_collapse("jav_uncensored_fc2com_use_image_server_url");
});

$("body").on('click', 'button[id^="jav_uncensored_"][id$="_btn"]', function(e){
  e.preventDefault();
  const btnId = $(this).attr('id');
  const parts = btnId.split('_'); 

  const site = parts[2];

  const actionParts = parts.slice(3, -1); 
  const action = actionParts.join('_');

  const codeInputId = "jav_uncensored_" + site + "_test_code";
  const code = document.getElementById(codeInputId).value;

  if (action === 'test') {
    if (!code || !code.trim()) { notify('테스트 코드 입력', 'warning'); return; }
    globalSendCommand('test', site, code);
  } 
  else if (action === 'nfo_download') {
    window.location.href = '/metadata/normal/jav_uncensored/nfo_download?call=' + site + '&code=' + code;
  }
  else if (action === 'yaml_download') {
    window.location.href = '/metadata/normal/jav_uncensored/yaml_download?call=' + site + '&code=' + code;
  }
  else if (action === 'pl_download') {
    window.location.href = '/metadata/normal/jav_uncensored/image_download?call=' + site + '&type=pl&code=' + code;
  }
  else if (action === 'p_download') {
    window.location.href = '/metadata/normal/jav_uncensored/image_download?call=' + site + '&type=p&code=' + code;
  }
});


$('input[id$="_test_code"]').on('keypress', function(e) {
  if (e.which === 13) {
    e.preventDefault();
    var siteName = $(this).attr('id').split('_')[2];
    var buttonId = '#jav_uncensored_' + siteName + '_test_btn';
    $(buttonId).click();
  }
});


$('#jav_uncensored_fc2com_use_javten_db').change(function() {
  use_collapse('jav_uncensored_fc2com_use_javten_db');
});

$('#jav_uncensored_fc2com_use_image_server_url').change(function() {
  use_collapse('jav_uncensored_fc2com_use_image_server_url');
});


$("body").on('click', '#btn_refresh_gds_path', function(e){
  e.preventDefault();
  var source_path = $('#jav_uncensored_fc2com_javten_db_gds_path').val();
  if(!source_path || !source_path.trim()) { notify('GDS 경로를 입력하세요.', 'warning'); return; }
  
  globalSendCommand('refresh_gds_path', source_path, null, null, function(result){
  });
});

$("body").on('click', '#btn_check_javten_db_version', function(e){
  e.preventDefault();
  var source_path = $('#jav_uncensored_fc2com_javten_db_gds_path').val();
  if(!source_path || !source_path.trim()) { notify('GDS 경로를 입력하세요.', 'warning'); return; 
  }

  globalSendCommand('check_javten_db_version', source_path);
});

$("body").on('click', '#btn_copy_javten_db', function(e){
  e.preventDefault();
  var source_path = $('#jav_uncensored_fc2com_javten_db_gds_path').val();
  if(!source_path) { notify('경로를 입력하세요', 'warning'); return; }
  
  globalSendCommand('copy_javten_db', source_path, null, null, function(result){
  });
});

</script>
{% endblock %}
