{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalOpenBtn', '사이트', [('url','https://javdb.com/')] ]])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}
{{ macros.m_hr_black() }}
<form id='setting' name='setting'>
{{ macros.setting_input_text_and_buttons('jav_censored_javdb_test_code', '테스트', [['jav_censored_javdb_test_btn', '테스트']], value=arg['jav_censored_javdb_test_code'], desc=[]) }}
{{ macros.setting_checkbox('jav_censored_javdb_use_proxy', 'Proxy 사용', value=arg['jav_censored_javdb_use_proxy'], desc=None) }}
<div id="jav_censored_javdb_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_censored_javdb_proxy_url', 'Proxy URL', value=arg['jav_censored_javdb_proxy_url']) }}
</div>
{{ macros.m_hr() }}
{{ macros.setting_input_textarea('jav_censored_javdb_crop_mode', '포스터 예외처리 2', value=arg['jav_censored_javdb_crop_mode'], row='5', desc=['가로 이미지 크롭이 필요한 경우 그 위치를 수동 지정. 예) 레이블: 위치', '위치는 r=오른쪽 l=왼쪽 c=가운데 중 하나. 구분자 Enter']) }}
{{ macros.m_hr() }}
{{ macros.setting_input_textarea('jav_censored_javdb_maintain_series_number_labels', '시리즈 넘버 유지 레이블', value=arg.get('jav_censored_javdb_maintain_series_number_labels', ''), row='3', desc=['여기에 입력된 레이블은 품번, 제목, 파일명 등에 시리즈 넘버(숫자 Prefix)를 유지합니다. (예: 436ABF-021)', '주로 중복 레이블 구분용으로 입력합니다(이미지 서버 이용시 파일명에도 적용됨).', '쉼표(,)로 구분하여 여러 레이블 입력 가능. (예: ABF, GOOD)']) }}
</div>
</form>


<script type="text/javascript">
$(document).ready(function(){
  use_collapse("jav_censored_javdb_use_proxy");
});

$('#jav_censored_javdb_use_proxy').change(function() {use_collapse('jav_censored_javdb_use_proxy');});

$("body").on('click', '#jav_censored_javdb_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_censored_javdb_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', 'javdb', code);
});

$("body").on('click', '#jav_censored_javdb_nfo_download_btn', function(e){
  e.preventDefault();
  code = document.getElementById("jav_censored_javdb_test_code").value;
  window.location.href = '/metadata/normal/jav_censored/nfo_download?call=javdb&code=' + code;
});

</script>
{% endblock %}
