{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

{{ macros.m_hr_black() }}


<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">

{{ macros.setting_input_text_and_buttons('jav_uncensored_1pondo_test_code', '1pondo 테스트 품번', [['jav_uncensored_1pondo_test_btn', '테스트'], ['jav_uncensored_1pondo_nfo_download_btn', 'NFO 다운로드']], value=arg['jav_uncensored_1pondo_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_1pondo_use_proxy', '1pondo Proxy 사용', value=arg['jav_uncensored_1pondo_use_proxy'], desc=None) }}
<div id="jav_uncensored_1pondo_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_1pondo_proxy_url', '1pondo Proxy URL', value=arg['jav_uncensored_1pondo_proxy_url']) }}
</div>

{{ macros.m_hr() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_10musume_test_code', '10musume 테스트 품번', [['jav_uncensored_10musume_test_btn', '테스트'], ['jav_uncensored_10musume_nfo_download_btn', 'NFO 다운로드']], value=arg['jav_uncensored_10musume_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_10musume_use_proxy', '10musume Proxy 사용', value=arg['jav_uncensored_10musume_use_proxy'], desc=None) }}
<div id="jav_uncensored_10musume_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_10musume_proxy_url', '10musume Proxy URL', value=arg['jav_uncensored_10musume_proxy_url']) }}
</div>

{{ macros.m_hr() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_heyzo_test_code', 'heyzo 테스트 품번', [['jav_uncensored_heyzo_test_btn', '테스트'], ['jav_uncensored_heyzo_nfo_download_btn', 'NFO 다운로드']], value=arg['jav_uncensored_heyzo_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_heyzo_use_proxy', 'heyzo Proxy 사용', value=arg['jav_uncensored_heyzo_use_proxy'], desc=None) }}
<div id="jav_uncensored_heyzo_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_heyzo_proxy_url', 'heyzo Proxy URL', value=arg['jav_uncensored_heyzo_proxy_url']) }}
</div>

{{ macros.m_hr() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_carib_test_code', 'carib 테스트 품번', [['jav_uncensored_carib_test_btn', '테스트'], ['jav_uncensored_carib_nfo_download_btn', 'NFO 다운로드']], value=arg['jav_uncensored_carib_test_code'], desc=None) }}
{{ macros.setting_checkbox('jav_uncensored_carib_use_proxy', 'carib Proxy 사용', value=arg['jav_uncensored_carib_use_proxy'], desc=None) }}
<div id="jav_uncensored_carib_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_carib_proxy_url', 'carib Proxy URL', value=arg['jav_uncensored_carib_proxy_url']) }}
</div>

{{ macros.m_hr() }}

{{ macros.setting_input_text_and_buttons('jav_uncensored_fc2com_test_code', 'fc2 테스트 품번', [['jav_uncensored_fc2com_test_btn', '테스트'], ['jav_uncensored_fc2com_nfo_download_btn', 'NFO 다운로드']], value=arg['jav_uncensored_fc2com_test_code'], desc=None) }}
{{ macros.setting_input_text(
    'jav_uncensored_selenium_url', 
    'FC2용 Selenium 서버 주소', 
    value=arg['jav_uncensored_selenium_url'],
    desc=['FC2.com 사이트는 JavaScript 보호가 적용되어 Selenium이 필요합니다.', 'Docker Standalone 환경 예: http://selenium:4444/wd/hub 또는 http://localhost:4444/wd/hub', '이 주소가 비어있으면 FC2 사이트 검색 기능이 비활성화됩니다.']
) }}
{{ macros.setting_radio_with_value('jav_uncensored_selenium_driver_type', 'Selenium Type', [['chrome', 'Chrome'], ['firefox', 'Firefox']], value=arg['jav_uncensored_selenium_driver_type'], desc=['Firefox는 proxy 사용시 유저 인증을 지원하지 않습니다.']) }}
{{ macros.setting_checkbox('jav_uncensored_fc2com_use_proxy', 'fc2com Proxy 사용', value=arg['jav_uncensored_fc2com_use_proxy'], desc=None) }}
<div id="jav_uncensored_fc2com_use_proxy_div" class="collapse">
{{ macros.setting_input_text('jav_uncensored_fc2com_proxy_url', 'fc2com Proxy URL', value=arg['jav_uncensored_fc2com_proxy_url']) }}
</div>

</div><!--tab-content-->
</form>


<script type="text/javascript">
$(document).ready(function(){
  use_collapse("jav_uncensored_1pondo_use_proxy");
  use_collapse("jav_uncensored_10musume_use_proxy");
  use_collapse("jav_uncensored_heyzo_use_proxy");
  use_collapse("jav_uncensored_carib_use_proxy");
  use_collapse("jav_uncensored_fc2com_use_proxy");
});

$('#jav_uncensored_1pondo_use_proxy').change(function() {use_collapse('jav_uncensored_1pondo_use_proxy');});
$('#jav_uncensored_10musume_use_proxy').change(function() {use_collapse('jav_uncensored_10musume_use_proxy');});
$('#jav_uncensored_heyzo_use_proxy').change(function() {use_collapse('jav_uncensored_heyzo_use_proxy');});
$('#jav_uncensored_carib_use_proxy').change(function() {use_collapse('jav_uncensored_carib_use_proxy');});
$('#jav_uncensored_fc2com_use_proxy').change(function() {use_collapse('jav_uncensored_fc2com_use_proxy');});

$("body").on('click', '#jav_uncensored_1pondo_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_1pondo_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', '1pondo', code);
});

$("body").on('click', '#jav_uncensored_1pondo_nfo_download_btn', function(e){
  e.preventDefault();
  code = document.getElementById("jav_uncensored_1pondo_test_code").value;
  window.location.href = '/metadata/normal/jav_uncensored/nfo_download?call=1pondo&code=' + code;
});

$("body").on('click', '#jav_uncensored_10musume_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_10musume_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', '10musume', code);
});

$("body").on('click', '#jav_uncensored_10musume_nfo_download_btn', function(e){
  e.preventDefault();
  code = document.getElementById("jav_uncensored_10musume_test_code").value;
  window.location.href = '/metadata/normal/jav_uncensored/nfo_download?call=10musume&code=' + code;
});

$("body").on('click', '#jav_uncensored_heyzo_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_heyzo_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', 'heyzo', code);
});

$("body").on('click', '#jav_uncensored_heyzo_nfo_download_btn', function(e){
  e.preventDefault();
  code = document.getElementById("jav_uncensored_heyzo_test_code").value;
  window.location.href = '/metadata/normal/jav_uncensored/nfo_download?call=heyzo&code=' + code;
});

$("body").on('click', '#jav_uncensored_carib_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_carib_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', 'carib', code);
});

$("body").on('click', '#jav_uncensored_carib_nfo_download_btn', function(e){
  e.preventDefault();
  code = document.getElementById("jav_uncensored_carib_test_code").value;
  window.location.href = '/metadata/normal/jav_uncensored/nfo_download?call=carib&code=' + code;
});

$("body").on('click', '#jav_uncensored_fc2com_test_btn', function(e){
  e.preventDefault();
  code = $('#jav_uncensored_fc2com_test_code').val();
  if (!code || !code.trim()) {
    notify('테스트 코드 입력', 'warning');
    return
  }
  globalSendCommand('test', 'fc2com', code);
});

$("body").on('click', '#jav_uncensored_fc2com_nfo_download_btn', function(e){
  e.preventDefault();
  code = document.getElementById("jav_uncensored_fc2com_test_code").value;
  window.location.href = '/metadata/normal/jav_uncensored/nfo_download?call=fc2com&code=' + code;
});

$('input[id$="_test_code"]').on('keypress', function(e) {
  if (e.which === 13) {
    e.preventDefault();
    var siteName = $(this).attr('id').split('_')[2];
    var buttonId = '#jav_uncensored_' + siteName + '_test_btn';
    $(buttonId).click();
  }
});

</script>    
{% endblock %}